

article{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

  h1{
      color: black;
      text-align: center;
      background-color: lightskyblue;
      
  }

  section{
      background-color: lightblue;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

footer {
    text-align: right;
    color: black;
    background-color: lightskyblue;
}
li, a, button {
    font-weight: 500;
    font-size: 25px;
    color: whitesmoke
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url("https://www.manatt.com/Manatt/media/Media/Images/Jumbotron/TV_Screens.jpg?ext=.jpg");
    background-size: cover;
    
}

.logo {
    cursor: pointer;
    width: 200px;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a:hover {
    color: cornflowerblue;
}

button {
    padding: 9px 25px;
    background-color: cornflowerblue;
    border: none;
    cursor:pointer;

}

button:hover {
    background-color: cornflowerblue;
}