

.container{
    text-align: center;
    color: black;
    background: rgb(112, 200, 255);
    flex-direction: row;
    font-size: medium;
    padding: 50px;
    margin: 50px;
    max-width: fit-content;
    
    
}

  h1{
      color: black;
      text-align: center;
      background-color: lightskyblue;
      
  }
  h2, h3{
      font-size: large;
      flex: 200px;
  }

  section{
      background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/127/954/small/abstract-template-blue-background-white-squares-free-vector.jpg");
      flex-wrap: wrap;
      display: flex;
  }
  p{
      flex: 200px;
  }
  p2{
      background-color: lightskyblue;
      font-size: small;
  }
      
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


li, a, button {
    font-weight: 500;
    font-size: 25px;
    color: whitesmoke
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url("https://www.manatt.com/Manatt/media/Media/Images/Jumbotron/TV_Screens.jpg?ext=.jpg");
    background-size: cover;
    
}

.logo {
    cursor: pointer;
    width: 200px;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a:hover {
    color: cornflowerblue;
}

button {
    padding: 9px 25px;
    background-color: cornflowerblue;
    border: none;
    cursor:pointer;

}

button:hover {
    background-color: cornflowerblue;
}
footer {
    text-align: right;
    color: black;
    background-color: lightskyblue;
}