section{
    background-image: url("https://www.manatt.com/Manatt/media/Media/Images/Jumbotron/TV_Screens.jpg?ext=.jpg");
    background-size: cover;
}
article{
    text-align: center;
    flex-wrap: wrap;
    color: white;
}
.leftbar{
    background-color: ghostwhite;
    
}