body{
    background-image: url("https://live.staticflickr.com/8561/15930593790_0e2300f383_b.jpg");
    background-size: cover;
}

    header{
        background-color: rgb(69, 186, 171);
    }
   
    .weather{
        border: 1px solid white;
        margin-top: 10rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .text-center{
        color: white;
    }
